<div class="container">
  <div class="row mt-3 justify-content-center">
    <div class="col-md-8 mb-3">
      <div class="card">
        <div class="card-body">
          <div class="d-flex flex-column align-items-center text-center">
           <% if @user.photo.attached? && @user%>
             <%= cl_image_tag @user.photo.key,height: 100, width: 100, crop: :fill, class: "rounded-circle image-size "%>
           <% else %>
             <i class="fas fa-user-circle fa-10x"></i>
           <% end %>
           <div class="mt-3">
            <h4><%=  @user.name%></h4>
            <% if @user.bio != "" %>
              <p class="text-secondary mb-1"><%= @user.bio %></p>
            <% elsif @user.baker %>
              <p class="text-secondary mb-1">I'm a <strong>doughpe</strong> baker!</p>
            <% else %>
              <p class="text-secondary mb-1">I want some <strong>doughpe</strong> bakes!</p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="row justify-content-center">
  <div class="col-md-8">
    <div class="card mb-3">
      <div class="card-body">
        <%= simple_form_for @user do |f| %>
          <%= f.input :name %>
          <%= f.input :bio %>
          <%= f.input :address %>
          <%= f.input :photo, as: :file, label: false, class: 'btn btn-mini btn-success hidden'%>
          <%= f.submit "Update profile", class: "btn btn-primary btn-block" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>
