<div class="container my-3">
  <div class="user-header p-3 my-3 d-flex align-items-center">
    <% if @baker.photo.attached? %>
      <%= cl_image_tag @baker.photo.key, height: 150, width: 150, crop: :fill, class: "rounded-circle mr-3"%>
    <% else %>
      <i class="fas fa-user-circle fa-10x"></i>
    <% end %>
    <div class="ml-3">
      <h2><%= @baker.username %></h2>
      <h6><%= @baker.bio %></h6>
    </div>
  </div>
  <div class="shop_container">
    <div class="cards">
      <% unless @products.empty? %>
        <% @products.each do |product| %>

          <div class="card" style="width: 18rem" data-product-id="<%= product.id %>" data-product-name="<%= product.name %>" data-product-price="<%= product.price %>" data-slots="<%= @products_hash[product.id].to_json %>" >

            <%= cl_image_tag product.photo.key, class: "card-img-top" %>
            <div class="card-body">
              <div class="card-title justify-content-between">
                <p><%= product.name %></p>
                <p>$<%= number_with_precision(product.price, precision: 2) %></p>
              </div>
              <p class="card-text"><%= product.description %></p>
            </div>
            <% if @baker == current_user%>
              <div class="d-flex justify-content-between p-3">
                <%= link_to "Edit", edit_product_path(product), class: "btn btn-warning" %>
                <%= link_to "Delete", product_path(product), method: :delete, class: "btn btn-danger" %>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
      <%= link_to new_product_path do  %>
      <div class="card" style="text-align:center">
        <i class="fas fa-plus fa-10x m-3"></i>
          <div class="card-body">
            <div class="card-title">
              <p>Add a new product</p>
            </div>
          </div>
      </div>
      <% end %>
    </div>
    <div>
      <%= simple_form_for @order do |f| %>
        <h3 class="product-name-placeholder">Select an item!</h3>
        <div class="d-none" id="checkout">
          <div class="d-none" id="quantity_field">
            <%= f.input :quantity, input_html: { value: '1' } %>
          </div>
          <%= f.input :delivery_method, collection: %w[self-collection delivery], as: :radio_buttons %>
          <div class="d-none" id="delivery_form">
            <%= f.input :delivery_address %>
          </div>
          <div id="product">
          </div>
          <div id="quantity_holder">
          </div>
          <%= f.association :slots do |slot| %>
            <%= slot.input :id, label: 'Date:', as: :select, collection: [] %>
            <%= slot.input :time_period, collection: %w[morning afternoon evening], as: :radio_buttons %>
          <% end %>
        </div>

        <p>Total: $<span id="total">0.00</span></p>
        <%= f.submit 'Nothing selected yet😢', class: "disabled" %>
      <% end %>

    </div>
  </div>
</div>

