<div class="container my-3">
  <div class="user-header p-3">
    <h2>Welcome, <%= current_user.username %></h2>
    <div class="d-flex">
      <h4 class="pr-3"><%= @orders.length %> Order(s)</h4>
    </div>
  </div>
</div>
<div class="container">
  <h3>Your sales history</h3>
  <% unless @orders.empty? %>
    <% @orders.each do |order| %>
      <div class="card-product">
        <% if order.slot.product.photo.attached? %>
          <%= cl_image_tag order.slot.product.photo.key, class: "img" %>
        <% else %>
          <img class="img" src="https://www.biggerbolderbaking.com/wp-content/uploads/2018/03/No-Bake-Chocolate-Chip-Cookies1.jpg" alt="product image">
        <% end %>
        <div class="card-product-info-container d-flex justify-content-between align-items-center">
          <div class="card-product-infos">
            <h2><%= "#{order.quantity}x #{order.slot.product.name} by #{order.user.username}"%></h2>
            <p><%= number_with_precision(order.total, precision: 2)%></p>
          </div>
          <div>
            <%= link_to 'Mark as Complete', baker_path(order.slot.product.user.username), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
