<div class="container my-3">
  <h1>Add a new product</h1>
</div>

<div class="container">
  <%= simple_form_for @product do |f| %>
    <%= f.input :name %>
    <%= f.input :price %>
    <%= f.input :description %>

    <%= simple_fields_for :slot do |s| %>
     <%= s.input :available_quantity %>
     <%= s.input :date, as: :check_boxes, collection:[Date.today+1, Date.today+2, Date.today+3] %>
    <% end %>
    <%= f.button :submit, class: 'btn btn-primary' %>
  <% end %>
</div>
